/* -------------------------------------------
        LANA - Share Moments: Styles
   ------------------------------------------- */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* font-family: 'Roboto', sans-serif; */
/* ------------------------------------------- */

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #F9f9f9;
}
::-webkit-scrollbar-track{
    background: none;
}

::-webkit-scrollbar-thumb{
    background-color: var(--secondaryColor); 
}

a, a:visited, a:hover, a:link, a:active{color: var(--altColor);}

/* ------------------------------------------- */

/* Variables */
:root {
    --primaryColor: #f9f9f9;
    --secondaryColor: #7661E8;

    --altColor: #3A3845;
}

/* ------------------------ Styles: NAVBAR ---------------------------- */
.btn-ge {
    width: 100%;
    height: 53px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -20px, rgba(0, 0, 0, 0.3) 0px 13px 36px -18px;
}

.content-li {
    position: relative;
    display: flex;
    justify-content: space-between; /* Alineacion "Automatica". */
    height: 100%;
    align-items: center;
    margin: 0 19px 0 19px;
    /* outline: 3px solid black; */
}

li { display: inline-block; }

.btn-register {
    border: none;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-radius: 24px;
    padding: 4px 14px;
}

.right-l > li { margin-left: 2px; }
.link-login { margin-right: 6px; }

/* EL ANCHO MINIMO PARA QUE SE MANTENGAN LOS BOTONES DE LA NAVBAR ES DE 340px. */

/* ------------------------ Styles: MAIN ---------------------------- */
main {
    margin: 14px 19px 0 19px;
}

.title-m {
    text-align: center;
}

.cuadricula {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* Posicionamiento automatico en funcion de su tamaño. */
    margin-top: 14px;
}

.general-c {
    margin-bottom: 15px;
    margin-left: 3%;
    position: relative;
    width: 45%;
    height: 250px;
    background-color: #f8f8f8;
    border-radius: 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -20px, rgba(0, 0, 0, 0.3) 0px 13px 36px -18px;
    transition: all .1s linear;
}

.general-c:hover {
    box-shadow: rgb(38, 57, 77) 0px 15px 60px -20px;
    transform: scale(1.01);
}

.imagen-c {
    width: 100%;
    height: 80%;
    margin: auto;
    overflow: hidden;
}

.interacion-c {
    position: relative;
    text-align: center;
    /* outline: 3px solid var(--secondaryColor); */
    top: -60px;
}

.interacion-c > div {
    display: inline-block;
}

.interacion-c > .primero {
    margin-right: 74px;
}

img {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 100%;

    object-fit: cover; /* Ajuste responsive de la imagen. */
}

.imagen-c > img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.circle > img {
    border-radius: 50%;
}

.circle {
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px solid var(--secondaryColor);
    border-radius: 50%;
    top: -40px;
    margin: auto;
}



/* ------------------------ Styles: ASIDE ---------------------------- */
aside, .form-c {
    margin: 0px 19px 14px 19px;
}



/* ------------------------ Styles: ASIDE ---------------------------- */
.form-c {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    border: 5px solid var(--secondaryColor);
    border-radius: 24px;

}

.form-c > div {
    text-align: center;
    position: relative;
    width: 50%;
    margin: auto;
}

.registro-c {
    background-color: var(--secondaryColor);
    padding: 30px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.registro-c > h3 {
    color: var(--primaryColor);
}

.form > div {
    margin-bottom: 5px;
}

.register-title {
    margin-bottom: 20px;
}

.login-title {
    position: relative;
    top: -57px;
}

.btn-submit {
    border: none;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border-radius: 24px;
    padding: 4px 14px;

    margin-top: 20px;
}

.btn-form-login {
    position: relative;
    top: 57px;
}

input {
    outline: none;
}








